<html ng-app>
<head>
      <title>DJ Example</title>
      <script>
        angular.module('simulation', [])
              .controller('mycontroller', function($scope) {
            //var canvas = document.getElementById('canvas');
            //var context = canvas.getContext('2d');
            //context.fillRect(10, 10, 100, 50);

          });
      </script>
      <script src= />

   </head>
<p>Here's another page: <a href="/#/about">about page</a>.</p>
<body>
<div ng-app="simulation">
<div ng-controller='mycontroller'>
        <h2>Your Algorithm:</h2>

              <!--<div id="light-canvas" style="margin: 10px" ng-app> was angluartest-->
              <form ng-submit="changeScripts()">
              <input ng-model="num_stars"  size="40" placeholder="Num Stars" required type="number" min="10" max="100">
              <input ng-model="star_size"  size="10" placeholder="Star Size" required type="number" min="5" max="30">
              <input ng-model="script_number"  size="3" placeholder="Script Number" required type="number" min="0" max="5">
              <input class="btn-primary" type="submit" value="Run Script">
            </form>
            <canvas id="canvas" style="border: 1px gray solid; float: left"></canvas>
            </div>
            <!--<div style="clear: both"/> -->
</div>
</div>



<!--<script>
          var mainApp = angular.module("simulation", []);
         //
        mainApp.controller('CanvasCtrl', function($scope) {
               var counter = 0;
               var canvas = document.getElementById('canvas');
               var context = canvas.getContext('2d');

               $scope.runScript = function() {
                   var id = 0;
                   if($scope.data.length > 0) {
                       id = $scope.data[$scope.data.length-1].id + 1;
                   }
                   var num_stars = $scope.num_stars;
                   var star_size = $scope.star_size;
                   var script_number = $scope.script_number;

                   context.font = star_size + "px Georgia";

                   $scope.num_stars = '';
                   $scope.star_size = '';
                   $scope.script_number = '';
                   draw(num_stars, script_number);
               };

               function draw(num_stars, script_number) {
                 var cycle = 0;
                 setInterval(function() {
                   context.clearRect(0,0,canvas.width,canvas.height);
                     drawStars(canvas.width, canvas.height, cycle, canvas.buffer);

                     cycle = (cycle + 1);
                   }, 120);
               }

               function drawStars(width, height, cycle, buffer){ //could pass in whether you want it to go left or right, switch order of h and w
                 var step_size = 2* (width + height + 2*buffer) / num_stars;
                 var star = 0;
                 var w = 0 + buffer;
                 var h = 0 + buffer;
                 console.log("running draw stars");
                 while (w < width){
                   context.fillStyle = (mapColors(star, cycle));
                   context.fillText("*",w, h);
                   star++;
                   w = w + step_size;
                 }
                 while (h < height) {
                   context.fillStyle = (mapColors(star, cycle));
                   context.fillText("*", w, h);
                   star++;
                   h = h + step_size;
                 }
                 while (w > buffer) {
                   context.fillStyle = (mapColors(star, cycle));
                   context.fillText("*", w, h);
                   star++;
                   w = w - step_size;
                 }
                 while (h > 0){
                   context.fillStyle = (mapColors(star, cycle));
                   context.fillText("*", w, h);
                   star++;
                   h = h -step_size;
                 }
               }


               function mapColors(star_num, time_step) {
                 return oranges[(star_num + time_step) % oranges.length];
               }

               // setup
               canvas.width = 600;
               canvas.height = 400;
               canvas.buffer = 30;
               context.globalAlpha = 1.0;
               context.beginPath();
               //draw($scope.data)
             });
      </script> -->
</body>
</html>
